[Unit]
Description=Blackbox Exporter Version {{ blackbox_exporter_version }}
Documentation=https://github.com/prometheus/blackbox_exporter
After=network-online.target
Requires=network-online.target

[Service]
User={{ blackbox_exporter_user }}
Group={{ blackbox_exporter_user }}
ExecStart={{ blackbox_exporter_binary_path }}/blackbox_exporter --config.file=/etc/blackbox.yml
Restart=always

[Install]
WantedBy=multi-user.target