listen_addresses = '*'
wal_level = replica
wal_log_hints = on
max_wal_senders = 100
hot_standby = on
max_replication_slots = 10
archive_mode = on
shared_preload_libraries = 'repmgr'
{% if postgresql_replication_wal_g_enabled and postgresql_replication_primary == ansible_hostname %} 
archive_command = '/usr/local/bin/wal-g --config /etc/wal-g/walg.json wal-push %p'
restore_command = '/usr/local/bin/wal-g --config /etc/wal-g/walg.json wal-fetch %f %p'
{% else %}
archive_command = '/bin/true'
{% endif %}
