{
"WALE_S3_PREFIX": "{{ postgresql_replication_wal_g_s3_bucket }}",
"AWS_ACCESS_KEY_ID": "{{ postgresql_replication_wal_g_s3_key }}",
"AWS_ENDPOINT": "{{ postgresql_replication_wal_g_s3_endpoint }}",
"AWS_S3_FORCE_PATH_STYLE": "true",
"AWS_REGION": "us-east-1",
"AWS_SECRET_ACCESS_KEY": "{{ postgresql_replication_wal_g_s3_secret_key }}"
}
